---
layout: default
post_page: true
---
%article
  %header
    %h1#post_title= page.title
    .info
      %p
        Posted onasfas:
        %time{:datetime=>"#{page.date.strftime('%Y-%m-%dT%H:%M:%S')}"}#{page.date.strftime('%b %d %Y')}
      %ul.post_tags
        %li.first Tagged as:
        - page.categories.each do |tag|
          %li
            %a{:href=>"/category/#{category_slug(tag)}", :title=>"#{category_capitalize(tag)}"}=category_capitalize(tag)
  .body= content